


.gridContainerPPO{
    
    display: grid;
    grid-template-columns: 40% 60% ; 
    grid-column-gap: 2em;
}

.profileTitlePPO{
    display: flex;
    flex-direction: row ;
    width: 100%;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 80px;
    margin-top: 30px;
}

.editPPO{
    margin-top: 24px;
    /* margin-right: 30px; */
    margin-left: 180px;

}



.contentCardPPO{
    width: 350px;
    height: 400px;
    border: 2px solid black;
    margin-left: 220px;
    margin-top: 30px;
    border-radius: 10px;


    /* outline-color: black;
    display: flex;
    align-items: center; */
}

.photoGalleryPPO{
    width: 650px;
    height: 170px;
    /* border: 2px solid black; */
    margin-top: 30px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: 158px 158px 158px 158px;
}

.photo1PPO{
    width:150px;
    height: 150px;
    margin: 4px;
    border: 2px solid black;
}

.photo2PPO{
    width:150px;
    height: 150px;
    margin: 4px;
    border: 2px solid black;
}

.video1PPO{
    width:150px;
    height: 150px;
    margin: 4px;
    border: 2px solid black;
}

.video2PPO{
    width:150px;
    height: 150px;
    margin: 4px;
    border: 2px solid black;
}

.instagramLinkPPO{
width: 640px;
height:30px;
/* border: 2px solid black; */
padding-left: 7px;
display: flex;
justify-content: flex-start;
font-weight: bold;
}

.soundcloudLinkPPO{
    width: 640px;
    height:30px;
    /* border: 2px solid black; */
    padding-left: 7px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.spotifyLinkPPO{
    width: 640px;
    height:30px;
    /* border: 2px solid black; */
    padding-left: 7px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.linksPPO{
    display: grid;
    grid-template-columns: 100%; 

 } 

 .requestButtonsPPO {
    display: grid;
    grid-gap: 0px;
  }
  
  .requestButtonsPPO button {
    width: 100%;
  }

  
.profilePicPPO{
    border-radius: 50%;
    height:96px;
    width:96px;
    background-color: grey;
    margin-top:10px;
    margin-left:10px;

}

.contentCardPPO{
    display: grid;
    grid-template-columns: 100% ;
}


.namePPO{
    /* width: 70px;
    height:30px; */
    /* border: 2px solid black; */
    margin-top: 10px;
    margin-left: 120px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.bioPPO {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 10px;
    margin-bottom: 170px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .bioTitlePPO {
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  
  .bioParagraphPPO {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
  
  .instrumentsPPO {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 10px;
    margin-bottom: 170px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .instTitlePPO{
    font-weight: bold;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .instCirclesPPO{
    display: grid;
    margin-top: 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;

  }

  .instIconsPPO{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid black; 
  }

  .contactPPO{
    margin-top: 70px;
    width: 100px;

  }