.fullPage{
    display: flex;
    width: 100%;
   
}

.leftPanelSignIn{

    height: 700px;
    width: 50%;
    background-color: #276A8F;
    display: flex;
    justify-content: center;

   
}

.rightPanelSignIn{

    height: 700px;
    width: 50%;
    background-color: white;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 150px;
   
}

.signInText{
    display: flex;
    align-items: center;
    max-height: 300px;
    max-width: 350px;
    text-align: left;
    justify-content: center;
    color: white;
}

.signInForm{
max-width: 300px;
padding-left: 80px;    
}

.input{
    float: right;
}

.label{
    float: left;
}

.submit {
    align-items: baseline;
}

